<div class="mt-8 w-1/3 bg-white p-4 mx-auto">
    <button class="px-4 py-2 border bg-red-400 rounded-lg" routerLink="/">Show Data</button>
    <h1 class="text-center font-thin text-3xl uppercase border-b ">Edit Record..</h1>
    <form  >
        <div class="mt-4">
            <label for="name">Name:</label>
            <input type="text" class="p-2 border w-full px-4  outline-none" placeholder="Enter Name..."  >
        </div>
        <div class="mt-2">
            <label for="name">UserName:</label>
            <input type="text" class="p-2 border w-full px-4 outline-none" placeholder="Enter UserName..."  >
        </div>
        <div class="mt-2">
            <label for="email">Email:</label>
            <input type="email" class="p-2 border w-full px-4 outline-none" placeholder="Enter Email..."  >
        </div>
        <div class="mt-2">
            <label for="message">Address:</label>
             <textarea  class="p-2 border w-full px-4 outline-none" placeholder="Enter Address.."  ></textarea>
        </div>
        <button class="mt-2 border p-2 w-full bg-blue-300 font-bold rounded-xl hover:bg-pink-300 hover:transition hover:eas">Edit Data</button>
    </form>
 </div>

